Repository SynergiaOS/MojoRust-Polyglot-Trading-Bot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SynergiaOS/maintainers, @SynergiaOS/devops-team, @SynergiaOS/security-team, @SynergiaOS/trading-team, @SynergiaOS/risk-team, @SynergiaOS/data-team, @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/core-team, @SynergiaOS/config-team, @SynergiaOS/docs-team, @SynergiaOS/qa-team, @SynergiaOS/performance-team, @SynergiaOS/ops-team

feat: Add final configuration files and documentation updates
  .traycer/prompt-templates/XXX.md
  mojorust-complete/config/trading.toml.example
  rust-modules/src/arbitrage.rs.backup
  rust-modules/src/arbitrage/cross_exchange.rs
  rust-modules/src/arbitrage/execution.rs
  rust-modules/src/arbitrage/flash_loan.rs
  rust-modules/src/arbitrage/mod.rs
  rust-modules/src/arbitrage/statistical.rs
  rust-modules/src/arbitrage/triangular.rs
  rust_trading_launcher.rs
Owners: @SynergiaOS/docs-team, @SynergiaOS/maintainers, @SynergiaOS/rust-team, @SynergiaOS/ffi-team

feat: Implement comprehensive testing infrastructure with verification comments
  .codacy/cli.sh
  .env.example
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  README.md
  config/grafana/dashboards/sniper_dashboard.json
  config/prometheus_rules/sniper_alerts.yml
  config/trading.toml.example
  config/trading_production.toml
  jito_pumpfun_trader.py
  mojorust-complete/config/trading.toml.example
  pumpportal_realtime_trader.py
  src/core/config.mojo
  src/core/constants.mojo
  src/core/types.mojo
  src/data/helius_client.mojo
  src/data/honeypot_client.mojo
  src/data/social_client.mojo
  src/engine/master_filter.mojo
  src/engine/spam_filter.mojo
  src/execution/execution_engine.mojo
  src/monitoring/ultimate_monitor.mojo
  tests/coverage_wrapper.py
  tests/integration/test_api_integration.mojo
  tests/integration/test_database_integration.mojo
  tests/integration/test_trading_strategies.mojo
  tests/load/api_load_test.js
  tests/load/trading_cycle_load_test.js
  tests/mocks/dexscreener_responses.json
  tests/mocks/helius_responses.json
  tests/mocks/jupiter_responses.json
  tests/mocks/market_scenarios.json
  tests/mocks/mock_loader.mojo
  tests/mocks/quicknode_responses.json
  tests/test_suite.mojo
Owners: @SynergiaOS/maintainers, @SynergiaOS/config-team, @SynergiaOS/devops-team, @SynergiaOS/docs-team, @SynergiaOS/data-team, @SynergiaOS/trading-team, @SynergiaOS/ops-team, @SynergiaOS/qa-team

feat: Add comprehensive documentation and legal compliance infrastructure
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  CHANGELOG.md
  CLAUDE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  docs/LEGAL_COMPLIANCE.md
  test_rsi_strategy.mojo
Owners: @SynergiaOS/docs-team, @SynergiaOS/maintainers

fix: resolve runtime errors and implement retry logic
  rust-modules/src/crypto/random.rs
  rust-modules/src/ffi/mod.rs
  src/core/rust_ffi_optimized.mojo
  src/data/dexscreener_client.mojo
  src/data/enhanced_data_pipeline.mojo
  src/execution/ultimate_executor.mojo
  src/risk/api_circuit_breaker.mojo
Owners: @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/maintainers, @SynergiaOS/data-team, @SynergiaOS/risk-team

feat: enhance database with optimizations and graceful shutdown
  rust-modules/Cargo.toml
  src/main.mojo
  src/persistence/database_manager.mojo
Owners: @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/core-team, @SynergiaOS/maintainers

feat: enhance API clients with connection pooling and graceful fallback
  src/data/helius_client.mojo
  src/data/honeypot_client.mojo
  src/data/jupiter_client.mojo
  src/data/quicknode_client.mojo
  src/monitoring/sentry_client.mojo
Owners: @SynergiaOS/data-team, @SynergiaOS/ops-team

feat: implement unified API placeholder handling strategy
  src/core/api_placeholder_handler.mojo
  src/data/social_client.mojo
Owners: @SynergiaOS/maintainers, @SynergiaOS/data-team

feat: add comprehensive monitoring and backup infrastructure
  scripts/backup.sh
  scripts/health_check_cron.sh
  scripts/rollback.sh
  src/monitoring/alert_system.mojo
  src/monitoring/connection_pool_monitor.mojo
Owners: @SynergiaOS/maintainers, @SynergiaOS/ops-team

feat: add operational tools and enhanced configuration
  .env.example
  Makefile
  config/alertmanager.yml
  config/grafana/dashboards/reliability_metrics.json
  config/trading.toml.example
Owners: @SynergiaOS/config-team, @SynergiaOS/maintainers

feat: enhance GitHub Actions with validation and automatic rollback
  .github/FUNDING.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/instructions/codacy.instructions.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Owners: @SynergiaOS/maintainers, @SynergiaOS/docs-team, @SynergiaOS/devops-team

docs: add comprehensive documentation and project information
  CONTRIBUTING.md
  README.md
  docs/ADVANCED_FILTERS_GUIDE.md
  docs/API.md
  docs/ARBITRAGE_GUIDE.md
  docs/ARCHITECTURE.md
  docs/CI_CD_GUIDE.md
  docs/DATA_INGESTION_ARCHITECTURE.md
  docs/DISASTER_RECOVERY.md
  docs/FLASH_LOAN_INTEGRATION.md
  docs/IMPLEMENTATION_ROADMAP.md
  docs/MEV_STRATEGY_GUIDE.md
  docs/PARALLEL_PROCESSING_ARCHITECTURE.md
  docs/PORTFOLIO_MANAGER_DESIGN.md
  docs/RPC_PROVIDER_STRATEGY.md
  docs/RUNBOOK.md
  docs/STRATEGY.md
  requirements.txt
Owners: @SynergiaOS/docs-team, @SynergiaOS/maintainers

feat: add advanced analysis and intelligence modules
  rust-modules/src/portfolio/mod.rs
  src/analysis/backtest_engine.mojo
  src/analysis/mev_detector.mojo
  src/analysis/wallet_graph_analyzer.py
  src/core/portfolio_manager_client.mojo
  src/data/geyser_client.py
  src/data/social_intelligence_engine.py
  src/execution/jito_bundle_builder.rs
  src/intelligence/data_synthesis_engine.mojo
  src/orchestration/task_pool_manager.py
Owners: @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/maintainers, @SynergiaOS/data-team

feat: enhance flash loan arbitrage and Rust module integration
  rust-modules/src/arbitrage/flash_loan.rs
  rust-modules/src/lib.rs
Owners: @SynergiaOS/rust-team, @SynergiaOS/ffi-team

security: update security scanning configuration and secrets baseline
  .github/workflows/security-scan.yml
  .secrets.baseline
Owners: @SynergiaOS/devops-team, @SynergiaOS/maintainers

feat: integrate DragonflyDB Cloud for ultra-performance caching
  .env.example
  docs/DRAGONFLYDB_INTEGRATION.md
  tests/test_task_pool_manager.py
Owners: @SynergiaOS/config-team, @SynergiaOS/docs-team, @SynergiaOS/qa-team

feat: comprehensive production deployment and monitoring enhancements
  .env.docker
  .env.docker.example
  .env.production.example
  API_KEYS_SETUP.md
  DEPLOYMENT.md
  DOCKER_DEPLOYMENT_GUIDE.md
  Dockerfile
  GRAFANA_SETUP_GUIDE.md
  INFISICAL_SETUP.md
  OPERATIONS_RUNBOOK.md
  PROMETHEUS_ALERTS_GUIDE.md
  TECHNICAL_DOCUMENTATION.md
  VALIDATION_CHECKLIST.md
  VPC_NETWORKING_SETUP.md
  VPS_SETUP_EXECUTION_PLAN.md
  VPS_SETUP_VERIFICATION_CHECKLIST.md
  config/prometheus.yml
  docker-compose.yml
  docs/DRAGONFLYDB_INTEGRATION.md
  mojorust-deploy-20251006-230635.tar.gz
  mojorust-deploy-20251006-233034.tar.gz
  mojorust-ultimate-final.tar.gz
  rust-modules/Cargo.toml
  rust-modules/Dockerfile.data-consumer
  rust-modules/build.rs
  scripts/backup.sh
  scripts/deploy_to_server.sh
  scripts/docker-entrypoint.sh
  scripts/health_check_cron.sh
  scripts/quick_deploy.sh
  scripts/rollback.sh
  scripts/server_health.sh
  scripts/verify_api_health.sh
  scripts/verify_dragonflydb_connection.sh
  scripts/verify_filter_performance.sh
  scripts/vps_setup.sh
  tests/test_task_pool_manager.py
Owners: @SynergiaOS/maintainers, @SynergiaOS/docs-team, @SynergiaOS/ops-team, @SynergiaOS/config-team, @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/devops-team, @SynergiaOS/qa-team

feat: implement comprehensive monitoring stack fixes and CPU optimization suite
  Makefile
  OPERATIONS_RUNBOOK.md
  README.md
  config/prometheus.yml
  docker-compose.yml
  docs/cpu_optimization_guide.md
  docs/monitoring_troubleshooting_guide.md
  scripts/apply_system_optimizations.sh
  scripts/diagnose_cpu_usage.sh
  scripts/import_grafana_dashboards.sh
  scripts/monitor_cpu_continuous.sh
  scripts/optimize_vscode_cpu.sh
  scripts/start_monitoring_stack.sh
  scripts/verify_monitoring_stack.sh
Owners: @SynergiaOS/maintainers, @SynergiaOS/docs-team, @SynergiaOS/config-team, @SynergiaOS/ops-team

feat: implement comprehensive 2025 RPC provider infrastructure
  .dockerignore
  .env.docker
  .env.example
  .env.test
  .gitignore
  Cargo.toml
  DEPLOYMENT.md
  DOCKER_DEPLOYMENT_GUIDE.md
  Dockerfile
  GRAFANA_SETUP_GUIDE.md
  PROMETHEUS_ALERTS_GUIDE.md
  VPC_NETWORKING_SETUP.md
  alertmanager.simple.yml
  config/prometheus.yml
  config/prometheus_rules/vpc_peering_alerts.yml
  docker-compose.final.yml
  docker-compose.fixed.yml
  docker-compose.python.yml
  docker-compose.simple.yml
  docs/BUILD_AND_DEPLOYMENT_GUIDE.md
  docs/aws_vpc_peering_request.md
  docs/monitoring_deployment_guide.md
  docs/port_conflict_resolution_guide.md
  docs/vpc_peering_troubleshooting.md
  quick-deploy-20251015_151737.tar.gz
  scripts/build_and_deploy.sh
  scripts/build_mojo_binary.sh
  scripts/build_rust_modules.sh
  scripts/deploy.sh
  scripts/deploy_to_server.sh
  scripts/diagnose_port_conflict.sh
  scripts/resolve_port_conflict.sh
  scripts/setup_vpc_peering.sh
  scripts/verify_dragonflydb_connection.sh
  scripts/verify_port_availability.sh
  secrets/wallet.keypair
Owners: @SynergiaOS/maintainers, @SynergiaOS/config-team, @SynergiaOS/docs-team, @SynergiaOS/ops-team, @SynergiaOS/devops-team

feat: implement complete multi-token arbitrage system with Rust FFI integration
  .env.example
  config/prometheus.yml
  config/trading.toml
  config/trading.toml.example
  docker-compose.yml
  python/__init__.py
  python/jupiter_price_api.py
  python/pumpfun_api.py
  python/sandwich_manager.py
  python/shredstream_bridge.py
  rust-modules/Cargo.simple.toml
  rust-modules/src/arbitrage/cross_exchange.rs
  rust-modules/src/arbitrage/execution.rs
  rust-modules/src/arbitrage/flash_loan.rs
  rust-modules/src/arbitrage/triangular.rs
  rust-modules/src/lib.rs
  src/backtest/backtest_engine.mojo
  src/core/config.mojo
  src/data/helius_client.mojo
  src/data/py/__init__.py
  src/data/py/helius_adapter.py
  src/data/py/quicknode_adapter.py
  src/data/quicknode_client.mojo
  src/data/rpc_router.py
  src/execution/arbitrage_executor.mojo
  src/execution/execution_engine.mojo
  src/execution/jito_bundle_builder.rs
  test_rpc_router.py
Owners: @SynergiaOS/config-team, @SynergiaOS/ops-team, @SynergiaOS/maintainers, @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/data-team

docs(codacy): Document MCP Server CLI usage and argument conventions
  .github/instructions/codacy.instructions.md
Owners: @SynergiaOS/docs-team

feat(arbitrage): Add enhanced 2025 arbitrage configuration to .env.example
  .env.example
Owners: @SynergiaOS/config-team

fix(monitoring): Ensure METRICS_ENABLED is a string in docker-compose.yml
  docker-compose.yml
Owners: @SynergiaOS/ops-team

chore(resources): Increase memory swap limits in docker-compose.yml
  docker-compose.yml
Owners: @SynergiaOS/ops-team

feat(arbitrage): Add environment variables for advanced arbitrage to docker-compose.yml
  docker-compose.yml
Owners: @SynergiaOS/ops-team

build(rust): Update Rust version and Dockerfile optimizations for data-consumer
  rust-modules/Dockerfile.data-consumer
Owners: @SynergiaOS/rust-team, @SynergiaOS/ffi-team

fix(docker): Correct binary copy path in data-consumer Dockerfile final stage
  rust-modules/Dockerfile.data-consumer
Owners: @SynergiaOS/rust-team, @SynergiaOS/ffi-team

fix: deployment configuration and Infisical integration
  .env.docker
  DEPLOYMENT_GUIDE.md
  config/alertmanager.yml
  docker-compose.yml
  scripts/infisical_secrets.py
Owners: @SynergiaOS/maintainers, @SynergiaOS/docs-team, @SynergiaOS/config-team, @SynergiaOS/ops-team

Resolve .env.docker merge conflict — keep Infisical header and minimal config
  .env.docker
Owners: @SynergiaOS/maintainers

Add .env.docker to .gitignore
  .gitignore
Owners: @SynergiaOS/maintainers

📦 PRE-MIGRATION BACKUP - Legacy system before HFT architecture reorganization
  .codacy/cli.sh
  .github/instructions/codacy.instructions.md
  CLAUDE.md
  Makefile
  REORGANIZATION_PLAN.md
  config/environments/development.toml
  config/environments/production.toml
  config/flash_loan_free.toml
  config/free_alternatives.toml
  core/Cargo.toml
  core/data/Cargo.toml
  core/data/src/lib.rs
  core/execution/Cargo.toml
  core/execution/src/lib.rs
  core/infrastructure/Cargo.toml
  core/infrastructure/src/lib.rs
  docs/FREE_UNIVERSAL_AUTH_GUIDE.md
  docs/architecture/MIGRATION_GUIDE.md
  libs/mojo_libs/mojo.toml
  libs/python_libs/pyproject.toml
  rust-modules/Makefile
  rust-modules/src/arbitrage/mod.rs
  rust-modules/src/enhanced_sniper.rs
  rust-modules/src/flash_loan_free/mod.rs
  rust-modules/src/lib.rs
  rust-modules/src/universal_auth_free/mod.rs
  scripts/diagnose_cpu_usage.sh
  scripts/example_free_auth.py
  scripts/setup_flash_loan_free.sh
  scripts/setup_infisical.sh
  scripts/setup_universal_auth_free.sh
  scripts/test_free_setup.sh
  src/engine/enhanced_sniper_engine.mojo
  tests/e2e/trading_flow_test.rs
  tests/integration/execution_engine_test.rs
  tests/test_enhanced_sniper.py
  tests/unit/data_pipeline_test.rs
Owners: @SynergiaOS/maintainers, @SynergiaOS/docs-team, @SynergiaOS/config-team, @SynergiaOS/core-team, @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/devops-team, @SynergiaOS/qa-team, @SynergiaOS/trading-team

🔧 FIX: CodeRabbit Conflict Resolution - Fragile Parsing Chains
  BRANCH_ANALYSIS.md
  CODERABBIT_CONFLICT_RESOLUTION.md
  scripts/verify_filter_performance.sh
  scripts/verify_filter_performance_fixed.sh
  tools/scripts/verify_filter_performance.sh
  tools/scripts/verify_filter_performance_fixed.sh
Owners: @SynergiaOS/docs-team, @SynergiaOS/maintainers

🧹 Cleanup: Remove unused files and duplicates
  .env.docker
  .env.docker.example
  .env.production.example
  .env.test
  mojorust-complete/config/trading.toml.example
  rust-modules/src/arbitrage.rs.backup
  scripts/backup.sh
  src/core/api_placeholder_handler.mojo
  src/core/placeholder_detector.mojo
  test_rsi_strategy.mojo
  tests/benchmarks/ffi_performance.mojo
  tests/integration/test_api_integration.mojo
  tests/integration/test_database_integration.mojo
  tests/integration/test_trading_strategies.mojo
  tests/mocks/mock_loader.mojo
  tests/test_api_clients.mojo
  tests/test_comprehensive.mojo
  tests/test_engines.mojo
  tests/test_suite.mojo
Owners: @SynergiaOS/maintainers, @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/qa-team

📚 Complete Documentation: All 79 MD files consolidated
  DOCUMENTATION_COMPLETE.md
Owners: @SynergiaOS/docs-team

Checkpoint from VS Code for coding agent session
  config/grafana/dashboards/jupiter_trading_dashboard.json
  config/prometheus_rules/jupiter_alerts.yml
  config/trading.toml
  docs/JUPITER_INTEGRATION.md
  examples/jupiter_trading_example.py
  python/geyser_client.py
  python/jupiter_executor.py
  python/jupiter_metrics.py
  python/jupiter_pipeline.py
  python/statistical_arbitrage.py
  rust-modules/src/arbitrage/statistical.rs
  rust-modules/src/ffi/mod.rs
  rust-modules/src/ffi/simd.rs
  src/analysis/stat_arb.mojo
  src/arbitrage/arbitrage_detector.mojo
  src/data/statistical_jupiter_client.mojo
  src/strategies/ultimate_ensemble.mojo
Owners: @SynergiaOS/config-team, @SynergiaOS/docs-team, @SynergiaOS/maintainers, @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/data-team, @SynergiaOS/trading-team

🚀 Complete Manual Targeting API & System Integration
  python/health_api.py
  rust-modules/Cargo.toml
  rust-modules/src/arbitrage/ten_token.rs
  rust-modules/src/data_consumer.rs
  rust-modules/src/data_consumer/mod.rs
  rust-modules/src/dex_clients/mod.rs
  rust-modules/src/helius_laserstream.rs
  rust-modules/src/instruction_parsers/mod.rs
  rust-modules/src/lib.rs
  rust-modules/src/security/input_validation.rs
  scripts/start_orchestrator.sh
  src/core/orchestrator.mojo
  src/engine/sniper_engine_unified.mojo
  tests/test_end_to_end_integration.py
Owners: @SynergiaOS/maintainers, @SynergiaOS/rust-team, @SynergiaOS/ffi-team, @SynergiaOS/trading-team, @SynergiaOS/qa-team

🚀 Initial Commit: Complete MojoRust Trading System
  .env.example
  config/trading.toml
  docker-compose.yml
Owners: @SynergiaOS/config-team, @SynergiaOS/ops-team

🚀 Major Update: Complete Polyglot Flash Loan Trading System
  .github/instructions/codacy.instructions.md
  config/devnet_1sol_strategy.toml
  config/flash_loan_only_strategy.toml
  config/safe_trading.toml
  login_script.sh
  mojorust_deploy_20251019_213147.tar.gz
  rust-modules/src/flash_loan_security.rs
  scripts/devnet_profit_generator.py
  scripts/flash_loan_starter.py
  scripts/recovery_and_safety.py
  src/automatic_reinvestment_engine.py
  src/devnet_flash_loan_master.py
  src/expert_monitoring_dashboard.py
  src/flash_loan_engine_minimal.py
  src/flash_loan_sniper_bot.py
  src/mojo_intelligence_layer.mojo
  src/mojo_strategic_orchestrator.mojo
  src/polyglot_integration_layer.py
Owners: @SynergiaOS/docs-team, @SynergiaOS/config-team, @SynergiaOS/maintainers, @SynergiaOS/rust-team, @SynergiaOS/ffi-team

🎉 FINAL COMPLETION: Complete Polyglot Trading System
  FINAL_POLYGLOT_SUMMARY.md
  config/mainnet.json
  final_polyglot_system.py
  mainnet_deployment_system.py
  src/polyglot_trading_orchestrator.py
Owners: @SynergiaOS/docs-team, @SynergiaOS/config-team, @SynergiaOS/maintainers

🚀 V2.0 COMPLETION STATUS - 100% MAINNET READY!
  .github/instructions/codacy.instructions.md
  V2_SYSTEM_STATUS_REPORT.md
  src/v2_algorithmic_control_mechanism.mojo
  src/v2_arbitrage_10_tokens.py
  src/v2_flash_loan_integration.py
  src/v2_sniper_first_strategy.py
Owners: @SynergiaOS/docs-team, @SynergiaOS/maintainers

🚀 MAINNET DEPLOYMENT - V2.0 SYSTEM LIVE!
  .kilocode/mcp.json
  FINAL_POLYGLOT_SUMMARY.md
  MAINNET_LAUNCH_STATUS.md
  src/v2_arbitrage_10_tokens.py
  src/v2_flash_loan_integration.py
Owners: @SynergiaOS/maintainers, @SynergiaOS/docs-team

.github/CODEOWNERS:

# Code Owners for MojoRust Trading Bot
# This file defines who should be automatically assigned for review based on file changes
# Format: path/to/files @username1 @username2 @team-name

# Global owners - maintainers of the entire repository
* @SynergiaOS/maintainers

# Component-specific owners

# CI/CD Workflows and DevOps
.github/workflows/** @SynergiaOS/devops-team
.github/dependabot.yml @SynergiaOS/devops-team

# Security-critical files - require multiple approvals
rust-modules/src/crypto/** @SynergiaOS/security-team @SynergiaOS/maintainers
rust-modules/src/security/** @SynergiaOS/security-team @SynergiaOS/maintainers
scripts/deploy*.sh @SynergiaOS/devops-team @SynergiaOS/maintainers
.github/workflows/deploy.yml @SynergiaOS/devops-team @SynergiaOS/maintainers

# Trading strategies and algorithms
src/strategies/** @SynergiaOS/trading-team
src/engine/** @SynergiaOS/trading-team
tests/test_*.mojo @SynergiaOS/trading-team

# Risk management and safety
src/risk/** @SynergiaOS/risk-team
src/circuit_breakers/** @SynergiaOS/risk-team

# API clients and data providers
src/api/** @SynergiaOS/data-team
src/data/** @SynergiaOS/data-team
rust-modules/src/api/** @SynergiaOS/data-team

# Rust modules and FFI
rust-modules/** @SynergiaOS/rust-team @SynergiaOS/ffi-team

# Mojo core and strategy engines
src/main.mojo @SynergiaOS/core-team
src/main_ultimate.mojo @SynergiaOS/core-team
mojo.toml @SynergiaOS/core-team

# Configuration and deployment
config/** @SynergiaOS/config-team
.env.example @SynergiaOS/config-team
scripts/setup*.sh @SynergiaOS/devops-team

# Documentation and guides
*.md @SynergiaOS/docs-team
docs/** @SynergiaOS/docs-team
README.md @SynergiaOS/docs-team

# Testing and quality assurance
tests/** @SynergiaOS/qa-team
scripts/validate*.sh @SynergiaOS/qa-team
scripts/test*.sh @SynergiaOS/qa-team

# Performance and optimization
scripts/profile*.sh @SynergiaOS/performance-team
src/performance/** @SynergiaOS/performance-team

# Monitoring and observability
src/monitoring/** @SynergiaOS/ops-team
scripts/server_health.sh @SynergiaOS/ops-team

# Docker and infrastructure
Dockerfile @SynergiaOS/ops-team
docker-compose.yml @SynergiaOS/ops-team

# Note: Replace @SynergiaOS/team-name with actual GitHub usernames or team handles
# when implementing this CODEOWNERS file in your repository

# Example replacements:
# @SynergiaOS/maintainers -> @john @sarah @mike
# @SynergiaOS/devops-team -> @devops-team
# @SynergiaOS/security-team -> @security-expert
# @SynergiaOS/trading-team -> @trading-specialist
# @SynergiaOS/risk-team -> @risk-analyst
